@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');


/*@font-face {
    font-family: "Equinox Bold";
    src: url(/Equinox_Typeface_Dfonts.org/Webfonts/Equinox\ Bold.woff);
}
@font-face {
    font-family: "Equinox Regular";
    src: url(/Equinox_Typeface_Dfonts.org/Webfonts/Equinox\ Regular.woff);
}*/

*{
    padding: 0;
    margin: 0;
    scroll-behavior:smooth;
    
}
:root{
    --main-color: #fcdf03;
    --overlay: rgba(0, 0, 0, 0.4);
    --normal: 1.2em;
    --medium: 1.5em;
    --large: 1.8em;
}
video{width: 100%;height: fit-content;object-fit: cover;}
body{display: grid; place-items: center;background:#060c14;font-family: 'Raleway', sans-serif;color: rgba(255, 255, 255, 0.836);overflow-x: hidden;
     outline: hidden;box-sizing: border-box;position: relative;font-family: 'Raleway', sans-serif;}
img{ width: 100%;height: 100%;object-fit: cover;}
section{ height:auto; min-height: fit-content;position: relative;padding:1em; overflow-x: hidden;}
.container h1{color: #fcdf03;font-size: 2.5em;text-transform: uppercase;text-align: center;padding-bottom:1em;
    font-family: "Equinox Bold";
}
.container{width:90vw;
    height: fit-content;
    background: transparent;
    backdrop-filter: blur(5px);
    border-radius: 1em;
    position:relative; 
    padding: 2em 0;
    margin: 0 auto;
}

.logo{
    width:5em;
    height:5em;
    cursor: pointer;
}
#home_bkg{position: absolute;top: 0;left: 0;width: 100vw;height:100vh;}
.overlay{position: absolute;top: 0;left: 0;width: 100vw;height:100vh;background:#060c14;opacity: 0.4;transition: all .5s ease-in-out;}
header{color:#fff; width: 100%; height: 100vh;overflow-x: hidden;position: relative; top: 0;left:0;}
.header_text{position: absolute;top: 50%;left: 5vw;width: 100%;margin-bottom:1em;}
.header_text p:first-child{text-transform: uppercase;font-size: var(--normal);padding-bottom: .6em;letter-spacing: 1em;opacity: .9;}
.header_text p{width: 90%;font-size: var(--normal);padding: .6em 0;line-height: 120%;}
.header_text h1{color: #fcdf03;font-size: 3em;text-transform: uppercase;
    /* transform: scale(0) translateX(-200vw); */
    font-family: "Equinox Bold";animation: third 5s forwards alternate;}
button{margin: 1em 0;padding: .8em 1em;text-transform: uppercase;background: rgb(252, 223, 3, 0.2);color: #fff;border-radius: .5em;border: 2px solid #fcdf03;cursor: pointer;transition:  .5s ease-in-out;}
button:hover{background: #fcdf03;box-shadow: 2px 3px 15px rgba(252, 223, 3, 0.643);}
nav{z-index: 100;position: relative;opacity: 1;}
nav ul{border: 2px solid #fff;position: fixed;top: 10vh;right: -100%;background: rgba(0, 0, 0, 0.3);overflow-y: hidden;box-shadow: 0 4px 15px rgba(255, 255, 253, 0.3);backdrop-filter: blur(5px);
    width: 50vw;height: 40vh;display: flex;flex-direction: column;gap: 1em;justify-content: center;align-items: center;border-radius:1em;transition: all .5s ease-in-out;}
nav ul li{list-style: none;padding-top: 1em; }
nav ul li a{text-decoration: none;text-transform: uppercase;font-size: var(--medium);color: #fff;position: relative;font-family: "Equinox Regular";transition: color 1s ease;}
nav ul li a:hover{color:#fcdf03;}
nav ul .logo{display: none;}
nav i{position: fixed;top: 4%;right: 5%;font-size: var(--large);background: transparent;color: var(--main-color);text-align: center;width: 1.2em;height: 1.2em;cursor: pointer;border-radius: 50%;display: block;}
#close{ display: none;}
#back{position: absolute;left: 5%;bottom: 2%;color: #fcdf03;margin-top: 1em;padding: .15em .2em;background: rgba(0, 0, 0, 0.4);}
.mode{ right:10%;margin-right: 1em; z-index: 100; opacity: .9;}



#button2{display: none;}
.container button{position:relative;
    color: #fff;
    background: #fcdf03;
    margin-top:1em;
    margin-left: 5em;
    padding: .5em .8em;
    border: 1px solid #fcdf03;
    cursor: pointer;
}
.content{padding: 1em auto;width: 95%;margin: 0 auto;display: flex;flex-wrap: wrap;justify-content: center;align-items: center;}
.content_text{text-align: justify; padding: 1em 2em;border-radius: 1em;width: 18em;z-index: 1;transition: all 2s ease; 
    transform: translateX(-100vw);
    animation: text 1.5s forwards;
}
.content_image{box-shadow: 0 8px 20px #1b1b1b;border-radius: .5em;max-width: 40em;height:auto;text-align: center;transition: all 2s ease;
    transform: translateX(100vw);
    animation: text_img 1.5s forwards;
}
.content_image img{
    border-radius: .5em;
}
.content_image:hover{z-index: 2;transform: scale(1.02);}

.content2{padding: 1em auto;width: 95%;margin: 0 auto;}
.services{display: flex;gap:1em;flex-wrap: wrap;justify-content: center;align-items: center;padding-bottom: 2em;margin:0 auto;}
.service_head{text-align: center;margin-bottom: 2em;}
.box{max-width: 15em;background: rgba(0, 0, 0, 0.2);padding: 1em;text-align: center;
    transform: translateX(-100vw);
    animation: serve_box 1.5s forwards;
    animation-delay: .05s;
}
.box:hover i{transform:rotateY(180deg);
}
.box i{color:#fcdf03;font-size: var(--medium);padding-bottom: .5em;transition: all 1s ease;}
.box h2{padding: .6em 0;color: #fcdf03;text-transform: uppercase;font-family: "Equinox Regular";}




.contact_container{ display: flex;flex-wrap:wrap;justify-content: center;align-items: flex-start;margin:5vh auto;gap:2em;
    /* transform:translateY(-200vh);
    animation: page2 2s forwards;
    animation-delay: 3s; */
  }

.contact-text{
    min-width: 15em;
    padding: 1em;
}
.contact-text h1{
    font-size: 2.5em;
    text-transform: capitalize;
    color: #fcdf03;
    text-align: left;
}
.contact-text p{
    font-size: var(--normal);
    padding: 1em 0;
    padding-right: 1em;

}
.contact-text .social-links a i{
    font-size: 1.4em;
    margin-right: .5em;
    color: #fcdf03;
    transition: all 1s ease;
}
.contact-text .social-links a i:hover{
    transform: translateY(-2vh);
    box-shadow: 0 5px 15px rgba(89, 206, 206, 0.2);
}
.contact_form{
    min-width: 15em;
    padding: 1em;
}
.contact_form input, .contact_form textarea{
    margin: .5em auto;
    width: 90%;
    background: rgba(0, 0, 0, 0.2);
    color: azure;
    font-size: 1.2em;
    font-weight: 200;
    padding: .5em;
    border: 1px solid transparent;
    border-radius: 10px;
}

.contact_form input[type=submit]{
    width: 80%;
    transform: translateX(10%);
    background: #fcdf03;
    transition: all .6s ease;
    cursor: pointer;
}
.contact_form input[type=submit]:hover{
    box-shadow: 0 5px 15px rgb(252, 223, 3, 0.6);
}
.contact_form p{
    text-transform: capitalize;
}
.container_wrap{
    /* width: 100%;*/
    width: 90%;
    /* background: red; */
    margin: 0 7%;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 2em 0;
    
}
.container_wrap::-webkit-scrollbar{
    width: none;
    color: #000;
}
/* .port{
    height: 70vh;
    width: 100%;
} */
.slider{
    /* transform: translateX(-30vw); */
    display:flex;
    gap: 1em;
    width: 20em;
    height: 50vh;
}
.slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #fcdf03;
    border-radius: .5em;
    transition: .8s ease-in-out;
}
.slider img:hover{
    transform: scale(1.05);
}
.btn button{
    position: absolute;
    top: 50%;
}
.prev{
    right: 0;
}
.next{
    left: -13vw;
    margin-left: 0;

}



























@keyframes text{
    100%{
        transform: none;
    }
}
@keyframes text_img{
    100%{
        transform: none;
    }
}

@keyframes serve_box{
    100%{
        transform: none;
    }
}
